{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'includes/head_refrence.html' %}
</head>

<body>
    <div class="wrapper">
        {% include 'includes/sidebar.html' %}
        <div class="content">
            <!-- Navbar Start -->
            {% include 'includes/header_tag.html' %}
            <!-- Navbar End -->

            {% block content %}

            {% endblock content %}


            <!-- Footer Start -->
            {% include 'includes/footer_tag.html' %}
            <!-- Footer End -->
        </div>
    </div>

    <!-- Back to Top -->
    <a href="#" class="back-to-top"><i class="fa fa-angle-double-up"></i></a>

    {% include 'includes/footer_refrence.html' %}

</body>

</html>